body {
  margin: 0;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Segoe UI', sans-serif;
}

.clock-container {
  text-align: center;
}

#clock {
  font-size: 7vw;
  font-weight: 300;
  color: #000;
  letter-spacing: 2px;
}
